@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




@theme {

  --color-primary: #cf282e;
  --color-secondary: #162456;
  --color-gray-dark: #374151;
  --color-gray-medium: #6b7280;
  --color-gray-light: #f3f4f6;
  --color-gold: #c9a84c;
  --color-light:#e1e8f0;
  --color-black: #000000;
  --color-blue: #2563eb;
  --color-danger: #ff0000;

  --color-gradient-start: #0b1f4a;
  --color-gradient-via: #c9a84c;
  --color-gradient-end: #cf282e;

  --color-footer-background: #001a4d;

  --color-button-primary: #2563eb;
  --color-button-hover: #1d4ed8;

  --text-gold: #c9a84c;
  --text-light: #676e7a;
  --text-danger: #ff0000;
  --text-blacker:#051229;
  --text-blues:#0075FF;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Optional utility class */
.spin-animation {
  animation: spin 2s linear infinite;
}